@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: 600;
}

body {
  background: url('assets/bg.jpg');
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

.container {
  border: solid 1px rgba(255, 255, 255, 0.3);
  width: 320px;
  height: 496px;
  z-index: 1;
  margin: 20px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(100px);
  padding: 20px;
  overflow: hidden;
}

/* Input container */
.input-container {
  position: relative;
  margin-bottom: 25px;
}

.search-input {
  width: 100%;
  padding: 10px 16px;
  border-radius: 99px;
  border: 3px solid transparent;
  background: rgba(0, 0, 0, 0.15);
  outline: none;
  font-weight: 500;
  transition: 0.25s border;
  padding-right: 50px;
}

.search-input:focus {
  border: 3px solid rgba(0, 0, 0, 0.15);
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.search-button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  display: flex;
  border: none;
  cursor: pointer;
}

/* Weather Info */
.weather-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.location-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 400;
}

.weather-summary-info {
  font-weight: 400;
  text-align: end;
}

.weather-summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather-summary-image {
  width: 120px;
  height: 120px;
}

.condition-info {
  font-weight: 400;
}

.weather-condition-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.condition-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.condition-item span {
  font-size: 30px;
}

.forecast-items-container {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding-bottom: 12px;
}

.forecast-items-container::-webkit-scrollbar {
  height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 99px;
}

.forecast-item {
  min-width: 70px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 10px;
  align-items: center;
  border-radius: 12px;
  transition: 0.3s background;
}

.forecast-item:hover {
  background: rgba(255, 255, 255, 0.15);
}

.forecast-item-img {
  width: 35px;
  height: 35px;
}

/* Section: Message */
.section-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
  margin-top: 25%;
}

.section-message > div > h4 {
  font-weight: 400 !important;
}

.section-message img {
  height: 180px;
  width: fit-content;
}

/*  Responsive Design */
@media (max-width: 300px) {
  body {
    padding: 10px;
  }

  .container {
    width: 95%;
    padding: 12px;
    height: auto;
    overflow: scroll;
  }

  .search-input {
    padding: 8px 14px;
  }

  .weather-summary-image {
    width: 80px;
    height: 80px;
  }

  .temp-text {
    font-size: 1.5rem;
  }

  .forecast-items-container {
    gap: 10px;
  }

  .section-message h1 {
    font-size: 1.3rem;
  }

  .section-message h4 {
    font-size: 0.9rem;
  }

  .current-date-txt {
    text-align: end;
  }

  .condition-item {
    flex-wrap: wrap;
  }

  .weather-summary-container {
    flex-wrap: wrap;
  }

  .location-data-container {
    flex-wrap: wrap;
  }
  .weather-condition-container {
    gap: 30px;
  }
}
